{% extends 'base.html' %}

{% load static %}

{% block body %}
{% block content%}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'home' %}">Dial Gas</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">SignUp</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            Have a Dial Gas? <a href="{% url 'login' %}">Login</a>
          </div>
        </div>
        <div class="text-center py-2">
          <small>
            <a href="#" class="text-muted">Forgot your password?</a>
          </small>
        </div>
      </div>
    </div>
  </div>

{% endblock%}
{% endblock %}
